.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    bottom: 0px;
    right: 10px;
    display:none;
    z-index:9999;
    font-size: 0.8rem;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert>p,
.alert>ul {
    margin-bottom: 0;
}
.alert>p+p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}

.displayNone{
    display:none;
}

.prc {
  position: relative;
  top: 0px;
  width: 70px;
  height: 35px;
  background-color: #ddd;
  border-radius: 70px 70px 0 0;
}
.prc span {
  position: relative;
  top: 12px;
}

.nav-item a{
    padding:5px 10px;
}

.nav-item.active a, .nav-item a:hover{
    background: #33b35a;
    color: #fff;
}

.fullscreenMode{
    background:#EEF5F9;
    position: fixed; top: 0;
    left:0;
    z-index:9999;
    width: 100%;
    height: 100%;
}

.darkmode .fullscreenMode, .darkmode .page{
    background:#696969;
}
.darkmode .card{
    background-color: #212121;
    color: #fff;
}
