<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>{% trans %}Uptime{% endtrans %}</th>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for monitor in monitors %}
        <tr style="border-left:5px solid {% if monitor.latest.status %}green{% else %}red{% endif %};">
            <td {% if monitor.info.status == 0 %}style="opacity:0.5;"{% endif %}>{{monitor.uptime}}%</td>
            <td {% if monitor.info.status == 0 %}style="opacity:0.5;"{% endif %}>
                {% if monitor.info.type == 1 %}
                    {% trans %}Ping{% endtrans %}
                {% elseif monitor.info.type == 2 %}
                    {% trans %}Port{% endtrans %}
                {% elseif monitor.info.type == 3 %}
                    {% trans %}Custom Insert{% endtrans %}
                {% endif %}
            </td>
            <td {% if monitor.info.status == 0 %}style="opacity:0.5;"{% endif %}>{{monitor.info.name}}</td>
        </tr>


    {% endfor %}
    </tbody>
</table>