<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<div class="card" style="flex-direction: inherit;padding-top:15px;">
    <div class="col-4">
        <h2 style="text-align:center;">Up Monitors</h2>
        <div id="up" style="width:200px;height:200px;margin:0 auto;"></div>
    </div>
    <div class="col-4">
        <h2 style="text-align:center;">Down Monitors</h2>
        <div id="down" style="width:200px;height:200px;margin:0 auto;"></div>
    </div>
    <div class="col-4">
        <h2 style="text-align:center;">Paused Monitors</h2>
        <div id="paused" style="width:200px;height:200px;margin:0 auto;"></div>
    </div>
</div>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js"></script>
<script src="https://code.highcharts.com/stock/4.2.2/highstock.js"></script>
<script src="https://code.highcharts.com/4.2.2/modules/data.js"></script>
<script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
<script src="https://code.highcharts.com/4.2.2/highcharts-more.js"></script>
<script src="https://code.highcharts.com/4.2.2/modules/solid-gauge.js"></script>
<script>
    localStorage.removeItem("lastLIVE");
    moment.tz.add([
        'Europe/Copenhagen|CET CEST|0 0|0101|1Lzm0 1zb0 Op0'
    ]);

    var names = JSON.parse('{{monitorArray|json_encode()|raw}}');

    var monitors = {{monitors|length}};
    var up = {{up|length}};
    var down = {{down|length}};
    var paused = {{paused|length}};
    $('#up').highcharts({
        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            startAngle: 0,
            endAngle: 360,
            background: [{
                outerRadius: '100%',
                innerRadius: '80%',
                backgroundColor: "lightgrey",
                borderWidth: 0
            }]
        },

        tooltip: {
            enabled: false
        },
        yAxis: {
            min: 0,
            max: monitors,
            title: {
                text: null
            },

            stops: [
                [0.1, '#28a745'], // green
                [0.5, '#28a745'], // yellow
                [0.9, '#28a745'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                enabled: false
            }
        },

        credits: {
            enabled: false
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    enabled: true,
                    y: -38,
                    borderWidth: 0,
                    useHTML: true,
                    format: '<div style="text-align:center"><span style="font-size:45px;color:#000;">{y}</span></div>'
                }
            }
        },

        series: [{
            innerRadius: '80%',
            name: null,
            data: [up]
        }]

    });

    $('#down').highcharts({
        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            startAngle: 0,
            endAngle: 360,
            background: [{
                outerRadius: '100%',
                innerRadius: '80%',
                backgroundColor: "lightgrey",
                borderWidth: 0
            }]
        },


        tooltip: {
            enabled: false
        },
        yAxis: {
            min: 0,
            max: monitors,
            title: {
                text: null
            },

            stops: [
                [0.1, '#dc3545'], // green
                [0.5, '#dc3545'], // yellow
                [0.9, '#dc3545'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                enabled: false
            }
        },

        credits: {
            enabled: false
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    enabled: true,
                    y: -38,
                    borderWidth: 0,
                    useHTML: true,
                    format: '<div style="text-align:center"><span style="font-size:45px;color:#000;">{y}</span></div>'
                }
            }
        },

        series: [{
            innerRadius: '80%',
            name: null,
            data: [down]
        }]

    });

    $('#paused').highcharts({
        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            startAngle: 0,
            endAngle: 360,
            background: [{
                outerRadius: '100%',
                innerRadius: '80%',
                backgroundColor: "lightgrey",
                borderWidth: 0
            }]
        },


        tooltip: {
            enabled: false
        },
        yAxis: {
            min: 0,
            max: monitors,
            title: {
                text: null
            },

            stops: [
                [0.1, '#28a745'], // green
                [0.5, '#28a745'], // yellow
                [0.9, '#28a745'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                enabled: false
            }
        },

        credits: {
            enabled: false
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    enabled: true,
                    y: -38,
                    borderWidth: 0,
                    useHTML: true,
                    format: '<div style="text-align:center"><span style="font-size:45px;color:#000;">{y}</span></div>'
                }
            }
        },

        series: [{
            innerRadius: '80%',
            name: null,
            data: [paused]
        }]

    });
</script>
{#<script src="/js/charts-home.js"></script>#}