{% extends "base.twig" %}

{% block title %}{% trans %}Customers List{% endtrans %}
{% endblock %}

{% block body %}
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">{% trans %}Customers List{% endtrans %}</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">{% trans %}Home{% endtrans %}</a>
            </li>
            <li class="breadcrumb-item">{% trans %}Customers{% endtrans %}</li>
            <li class="breadcrumb-item active">{% trans %}List{% endtrans %}</li>
        </ul>
    </div>
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">{% trans %}List{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Name{% endtrans %}</th>
                                        <th>{% trans %}Email{% endtrans %}</th>
                                        <th>{% trans %}Domains{% endtrans %}</th>
                                        <th>{% trans %}Type{% endtrans %}</th>
                                        <th style="text-align:right;">{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                    <tr>
                                        <td>{{customer.user.name}}</td>
                                        <td>{{customer.user.email}}</td>
                                        <td>{{customer.domains|length}}</td>
                                        <td>
                                            {% if customer.user.type == 2 %}
                                            {% trans %}Admin{% endtrans %}
                                            {% elseif customer.user.type == 1 %}
                                            {% trans %}Reseller{% endtrans %}
                                            {% elseif customer.user.type == 0 %}
                                            {% trans %}Customer{% endtrans %}
                                            {% endif %}
                                        </td>
                                        <td style="text-align:right;">
                                            <a href="?sign-in={{customer.user.id}}" class="btn btn-success btn-sm"><i class="fa fa-sign-in"></i></a>
                                            <a href="/admin/customers/edit/{{customer.user.id}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="?delete={{customer.user.id}}" onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">{% trans %}Add Customer{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                    <div class="form-group">
                                        <label class="form-control-label">{% trans %}Name{% endtrans %}</label>
                                        <input type="text" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">{% trans %}Email{% endtrans %}</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">{% trans %}Password{% endtrans %}</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">{% trans %}Confirm{% endtrans %}</label>
                                        <input type="password" name="confirm" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">{% trans %}Type{% endtrans %}</label>
                                        <select name="type" class="form-control">
                                            <option value="2">{% trans %}Admin{% endtrans %}</option>
                                            <option value="1">{% trans %}Reseller{% endtrans %}</option>
                                            <option value="0">{% trans %}Customer{% endtrans %}</option>
                                        </select>
                                    </div>

                                <input type="submit" name="add" class="btn btn-success btn-sm" value="{% trans %}Add{% endtrans %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}{% endblock %}
