<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}{% endblock %} | MonitorWatch
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
        <!-- Fontastic Custom icon font-->
        <link rel="stylesheet" href="/css/fontastic.css">
        <!-- Google fonts - Poppins -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:300,400,700">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="/css/style.green.css" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="/css/custom.css">
        <!-- Favicon-->
        <link rel="shortcut icon" href="/img/favicon.ico">
        <!-- Tweaks for older IEs-->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
    <body>
        <div class="page">
            <!-- Main Navbar-->
            <header class="header">
                <nav class="navbar">
                    <!-- Search Box-->
                    <div class="search-box">
                        <button class="dismiss">
                            <i class="icon-close"></i>
                        </button>
                        <form id="searchForm" action="#" role="search">
                            <input type="search" placeholder="What are you looking for..." class="form-control">
                        </form>
                    </div>
                    <div class="container-fluid">
                        <div class="navbar-holder d-flex align-items-center justify-content-between">
                            <!-- Navbar Header-->
                            <div class="navbar-header">
                                <!-- Navbar Brand -->
                                <a href="/" class="navbar-brand">
                                    <div class="brand-text brand-big">
                                        <span>Monitor</span>
                                        <strong>Watch</strong>
                                    </div>
                                    <div class="brand-text brand-small">
                                        <strong>MW</strong>
                                    </div>
                                </a>

                            </div>
                            <!-- Navbar Menu -->
                            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                                <!-- <li class="nav-item d-flex align-items-center">
                                    <a id="search" href="#">
                                        <i class="icon-search"></i>
                                    </a>
                                </li> -->
                                <!-- <li class="nav-item dropdown">
                                    <a id="language" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">{% trans %}Language{% endtrans %}</a>
                                    <ul aria-labelledby="language" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="?lang=da_DK" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content">
                                                        {% trans %}Danish{% endtrans %}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="?lang=en_US" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content">
                                                        {% trans %}English{% endtrans %}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li> -->
                                <!--<li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-orange">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile">
                                                    <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3>
                                                    <span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile">
                                                    <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3>
                                                    <span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile">
                                                    <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3>
                                                    <span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
                                                <strong>Read all messages
                                                </strong>
                                            </a>
                                        </li>
                                    </ul>
                                </li> -->

                                <li class="nav-item {% if page == "index" %}active{% endif %}">
                                    <a href="/">{% trans %}Dashboard{% endtrans %}</a>
                                </li>

                                <li class="nav-item {% if page == "profile.edit" %}active{% endif %}">
                                    <a href="/profile/edit">
                                        {% trans %}Edit Profile{% endtrans %}
                                    </a>
                                </li>

                                {% if user.type == 2 %}
                                <li class="nav-item dropdown">
                                    <a id="language" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">{% trans %}Admin{% endtrans %}</a>
                                    <ul aria-labelledby="language" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="/admin/customers/list" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content">
                                                        {% trans %}Customers{% endtrans %}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}

                                {% if admin>0 %}
                                <li class="nav-item">
                                    <a href="/admin/customers/back" class="nav-link logout">{% trans %}Back to Admin{% endtrans %}</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a href="/logout" class="nav-link logout">{% trans %}Logout{% endtrans %}<i class="fa fa-sign-out"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="page-content d-flex align-items-stretch">
                <!-- Side Navbar -->
                {#<nav class="side-navbar">
                    <!-- Sidebar Header-->
                    <div class="sidebar-header d-flex align-items-center">
                        <div class="title">
                            <h1 class="h4">{{user.name}}</h1>
                            <p>
                                {% if user.type == 2 %}
                                {% trans %}Admin{% endtrans %}
                                {% elseif user.type == 1 %}
                                {% trans %}Reseller{% endtrans %}
                                {% elseif user.type == 0 %}
                                {% trans %}Customer{% endtrans %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <!-- Sidebar Navidation Menus-->
                    <span class="heading">Main</span>
                    <ul class="list-unstyled">
                        <li {% if page == "index" %}class="active"{% endif %}>
                            <a href="/"><i class="fa fa-home"></i>{% trans %}Dashboard{% endtrans %}</a>
                        </li>
                        <li {% if page == "profile.edit" %}class="active"{% endif %}>
                            <a href="/profile/edit">
                                <i class="fa fa-user"></i>{% trans %}Edit Profile{% endtrans %}
                            </a>
                        </li>
                        {% if user.type == 2 %}
                        <li><a href="#admin" aria-expanded="{% if page == "customers.list" %}true{% else %}false{% endif %}" data-toggle="collapse"> <i class="icon-interface-windows"></i>Admin </a>
                            <ul id="admin" class="{% if page == "customers.list" %}collapsed{% else %}collapse{% endif %} list-unstyled ">
                                <li {% if page == "customers.list" %}class="active"{% endif %}><a href="/admin/customers/list">Customers</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>#}
                <div class="content-inner">

                    {% block body %}{% endblock %}

                    <!-- Page Footer-->
                    <footer class="main-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>MonitorWatch &copy; 2018</p>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <!-- Javascript files-->
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/vendor/popper.js/umd/popper.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
        <!-- <script src="/vendor/chart.js/Chart.min.js"></script> -->
        <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
        <!-- <script src="/js/charts-home.js"></script> -->
        <!-- Main File-->
        <script src="/js/front.js"></script>
        {{alert|raw}}
        {% block js %}{% endblock %}

        <script>
        $(document).on('keydown', function(){
            if(event.keyCode==68){
                $('body').toggleClass('darkmode');
            }
        });
        </script>
    </body>
</html>
