{% extends "base.twig" %}

{% block title %}{% trans %}Dashboard{% endtrans %}
{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Dashboard</h2>
        </div>
    </header>
    {#
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-violet">
                        <i class="icon-user"></i>
                    </div>
                    <div class="title">
                        <span>New<br>Clients</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>25</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-red">
                        <i class="icon-padnote"></i>
                    </div>
                    <div class="title">
                        <span>Total<br>Domains</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 70%; height: 4px;" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>70</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-green">
                        <i class="icon-bill"></i>
                    </div>
                    <div class="title">
                        <span>New<br>Invoices</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 40%; height: 4px;" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>40</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-orange">
                        <i class="icon-check"></i>
                    </div>
                    <div class="title">
                        <span>Open<br>Cases</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 50%; height: 4px;" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>50</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
#}

    <section class="monitors">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-close">
                            <button class="btn btn-primary btn-sm" style="font-size:0.75rem;" data-toggle="modal" data-target="#addMonitor">Add Monitor</button>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">{% trans %}Monitors{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Uptime{% endtrans %}</th>
                                        <th>{% trans %}Type{% endtrans %}</th>
                                        <th>{% trans %}Name{% endtrans %}</th>
                                        <th style="text-align:right;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set modals = "" %}
                                    {% for monitor in monitors %}
                                        <tr style="border-left:5px solid {% if monitor.latest.status %}green{% else %}red{% endif %};">
                                            <td {% if monitor.info.status == 0 %}style="opacity:0.5;"{% endif %}>{{monitor.uptime}}%</td>
                                            <td {% if monitor.info.status == 0 %}style="opacity:0.5;"{% endif %}>
                                                {% if monitor.info.type == 1 %}
                                                    {% trans %}Ping{% endtrans %}
                                                {% elseif monitor.info.type == 2 %}
                                                    {% trans %}Port{% endtrans %}
                                                {% elseif monitor.info.type == 3 %}
                                                    {% trans %}Custom Insert{% endtrans %}
                                                {% endif %}
                                            </td>
                                            <td {% if monitor.info.status == 0 %}style="opacity:0.5;"{% endif %}>{{monitor.info.name}}</td>
                                            <td style="text-align:right;">
                                                <div class="card" style="margin:0;">
                                                    <div class="card-close" style="top:-2px;right:2px;">
                                                        <div class="dropdown">
                                                            <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-gear"></i></button>
                                                            <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                                                                <a href="?pause={{monitor.info.id}}" class="dropdown-item">
                                                                    <i class="fa fa-caret-right"></i>{% if monitor.info.status %}{% trans %}Pause{% endtrans %}{% else %}{% trans %}Start{% endtrans %}{% endif %}
                                                                </a>
                                                                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_{{monitor.info.id}}"><i class="fa fa-caret-right"></i>Edit</a>
                                                                <a href="?delete={{monitor.info.id}}" onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" class="dropdown-item"><i class="fa fa-caret-right"></i>Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        {% set modal %}
                                        <div class="modal fade" id="edit_{{monitor.info.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form method="post">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Add Monitor</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="hidden" name="monitorId" value="{{monitor.info.id}}">
                                                            <div class="form-group">
                                                                <label class="form-control-label">{% trans %}Type{% endtrans %}*</label>
                                                                <select name="type" class="monitorType form-control" disabled>
                                                                    <option value="1" {% if monitor.info.type == 1 %}selected{% endif %}>Ping</option>
                                                                    <option value="2" {% if monitor.info.type == 2 %}selected{% endif %}>Port</option>
                                                                    <option value="3" {% if monitor.info.type == 3 %}selected{% endif %}>Custom Insert</option>
                                                                </select>
                                                            </div>

                                                            <div class="form-group monitorName">
                                                                <label class="form-control-label">{% trans %}Name{% endtrans %}*</label>
                                                                <input type="text" name="name" class="form-control" value="{{monitor.info.name}}">
                                                            </div>

                                                            <div class="form-group monitorTarget">
                                                                <label class="form-control-label">{% trans %}IP (or Host){% endtrans %}*</label>
                                                                <input type="text" name="target" class="form-control" value="{{monitor.info.target}}">
                                                            </div>

                                                            {% if monitor.info.type == 2 %}
                                                            <div class="form-group monitorPort">
                                                                <label class="form-control-label">{% trans %}Port{% endtrans %}*</label>
                                                                <input type="number" name="port" min="0" class="form-control" value="{{monitor.info.port}}">
                                                            </div>
                                                            {% endif %}

                                                            <div class="form-group monitorInterval">
                                                                <label class="form-control-label">{% trans %}Interval{% endtrans %}*</label>
                                                                <input type="number" name="interval" min="0" class="form-control" value="{{monitor.info.interval_check}}">
                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" name="edit" class="btn btn-primary">Edit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endset %}
                                        {% set modals = modals ~ modal %}


                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" id="fullscreen">
                    <div class="card" style="flex-direction: inherit;padding-top:15px;">
                        <div class="col-4">
                            <h2 style="text-align:center;">Up Monitors</h2>
                            <div id="up" style="width:200px;height:200px;margin:0 auto;"></div>
                        </div>
                        <div class="col-4">
                            <h2 style="text-align:center;">Down Monitors</h2>
                            <div id="down" style="width:200px;height:200px;margin:0 auto;"></div>
                        </div>
                        <div class="col-4">
                            <h2 style="text-align:center;">Paused Monitors</h2>
                            <div id="paused" style="width:200px;height:200px;margin:0 auto;"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="livedata"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#
    <!-- Dashboard Header Section -->
    <section class="dashboard-header">
        <div class="container-fluid">
            <div class="row">
                <!-- Statistics -->
                <div class="statistics col-lg-3 col-12">
                    <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-red">
                            <i class="fa fa-server"></i>
                        </div>
                        <div class="text">
                            <strong>{{domains|length}}</strong><br>
                            <small>Domains</small>
                        </div>
                    </div>
                    <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-green">
                            <i class="fa fa-calendar-o"></i>
                        </div>
                        <div class="text">
                            <strong>152</strong><br>
                            <small>Interviews</small>
                        </div>
                    </div>
                    <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-orange">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="text">
                            <strong>147</strong><br>
                            <small>Forwards</small>
                            {% for nameserver in nameserversUp %}
                                <p class="{% if nameserver.ms != -1 %}bg-green{% else %}bg-red{% endif %}">{{nameserver.name}}
                                    -
                                    {{nameserver.ms}}
                                    ms</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Line Chart -->
                <div class="chart col-lg-6 col-12">
                    <div class="line-chart bg-white d-flex align-items-center justify-content-center has-shadow">
                        <canvas id="lineCahrts"></canvas>
                    </div>
                </div>
                <div class="chart col-lg-3 col-12">
                    <!-- Bar Chart -->
                    <div class="bar-chart has-shadow bg-white">
                        <div class="title">
                            <strong class="text-violet">95%</strong><br>
                            <small>Current Server Uptime</small>
                        </div>
                        <canvas id="barChartHome"></canvas>
                    </div>
                    <!-- Numbers-->
                    <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-green">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="text">
                            <strong>99.9%</strong><br>
                            <small>Success Rate</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Section-->
    <section class="client no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Work Amount -->
                <div class="col-lg-4">
                    <div class="work-amount card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Work Hours</h3>
                            <small>Lorem ipsum dolor sit amet.</small>
                            <div class="chart text-center">
                                <div class="text">
                                    <strong>90</strong><br>
                                    <span>Hours</span></div>
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Client Profile -->
                <div class="col-lg-4">
                    <div class="client card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <div class="client-avatar"><img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle">
                                <div class="status bg-green"></div>
                            </div>
                            <div class="client-title">
                                <h3>Jason Doe</h3>
                                <span>Web Developer</span>
                                <a href="#">Follow</a>
                            </div>
                            <div class="client-info">
                                <div class="row">
                                    <div class="col-4">
                                        <strong>20</strong><br>
                                        <small>Photos</small>
                                    </div>
                                    <div class="col-4">
                                        <strong>54</strong><br>
                                        <small>Videos</small>
                                    </div>
                                    <div class="col-4">
                                        <strong>235</strong><br>
                                        <small>Tasks</small>
                                    </div>
                                </div>
                            </div>
                            <div class="client-social d-flex justify-content-between">
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Total Overdue -->
                <div class="col-lg-4">
                    <div class="overdue card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Total Overdue</h3>
                            <small>Lorem ipsum dolor sit amet.</small>
                            <div class="number text-center">$20,000</div>
                            <div class="chart">
                                <canvas id="lineChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feeds Section-->
    <section class="feeds no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Trending Articles-->
                <div class="col-lg-6">
                    <div class="articles card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h2 class="h3">Trending Articles
                            </h2>
                            <div class="badge badge-rounded bg-green">4 New
                            </div>
                        </div>
                        <div class="card-body no-padding">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                <div class="text">
                                    <a href="#">
                                        <h3 class="h5">Lorem Ipsum Dolor</h3>
                                    </a>
                                    <small>Posted on 5th June 2017 by Aria Smith.
                                    </small>
                                </div>
                            </div>
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                <div class="text">
                                    <a href="#">
                                        <h3 class="h5">Lorem Ipsum Dolor</h3>
                                    </a>
                                    <small>Posted on 5th June 2017 by Frank Williams.
                                    </small>
                                </div>
                            </div>
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                <div class="text">
                                    <a href="#">
                                        <h3 class="h5">Lorem Ipsum Dolor</h3>
                                    </a>
                                    <small>Posted on 5th June 2017 by Ashley Wood.
                                    </small>
                                </div>
                            </div>
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/avatar-4.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                <div class="text">
                                    <a href="#">
                                        <h3 class="h5">Lorem Ipsum Dolor</h3>
                                    </a>
                                    <small>Posted on 5th June 2017 by Jason Doe.
                                    </small>
                                </div>
                            </div>
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/avatar-5.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                <div class="text">
                                    <a href="#">
                                        <h3 class="h5">Lorem Ipsum Dolor</h3>
                                    </a>
                                    <small>Posted on 5th June 2017 by Sam Martinez.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Check List -->
                <div class="col-lg-6">
                    <div class="checklist card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h2 class="h3">To Do List
                            </h2>
                        </div>
                        <div class="card-body no-padding">
                            <div class="item d-flex">
                                <input type="checkbox" id="input-1" name="input-1" class="checkbox-template">
                                <label for="input-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex">
                                <input type="checkbox" id="input-2" name="input-2" class="checkbox-template">
                                <label for="input-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex">
                                <input type="checkbox" id="input-3" name="input-3" class="checkbox-template">
                                <label for="input-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex">
                                <input type="checkbox" id="input-4" name="input-4" class="checkbox-template">
                                <label for="input-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex">
                                <input type="checkbox" id="input-5" name="input-5" class="checkbox-template">
                                <label for="input-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex">
                                <input type="checkbox" id="input-6" name="input-6" class="checkbox-template">
                                <label for="input-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Updates Section -->
    <section class="updates no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Recent Updates-->
                <div class="col-lg-4">
                    <div class="recent-updates card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard6" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="h4">Recent Updates</h3>
                        </div>
                        <div class="card-body no-padding">
                            <!-- Item-->
                            <div class="item d-flex justify-content-between">
                                <div class="info d-flex">
                                    <div class="icon">
                                        <i class="icon-rss-feed"></i>
                                    </div>
                                    <div class="title">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                    </div>
                                </div>
                                <div class="date text-right">
                                    <strong>24</strong>
                                    <span>May</span></div>
                            </div>
                            <!-- Item-->
                            <div class="item d-flex justify-content-between">
                                <div class="info d-flex">
                                    <div class="icon">
                                        <i class="icon-rss-feed"></i>
                                    </div>
                                    <div class="title">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                    </div>
                                </div>
                                <div class="date text-right">
                                    <strong>24</strong>
                                    <span>May</span></div>
                            </div>
                            <!-- Item -->
                            <div class="item d-flex justify-content-between">
                                <div class="info d-flex">
                                    <div class="icon">
                                        <i class="icon-rss-feed"></i>
                                    </div>
                                    <div class="title">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                    </div>
                                </div>
                                <div class="date text-right">
                                    <strong>24</strong>
                                    <span>May</span></div>
                            </div>
                            <!-- Item-->
                            <div class="item d-flex justify-content-between">
                                <div class="info d-flex">
                                    <div class="icon">
                                        <i class="icon-rss-feed"></i>
                                    </div>
                                    <div class="title">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                    </div>
                                </div>
                                <div class="date text-right">
                                    <strong>24</strong>
                                    <span>May</span></div>
                            </div>
                            <!-- Item-->
                            <div class="item d-flex justify-content-between">
                                <div class="info d-flex">
                                    <div class="icon">
                                        <i class="icon-rss-feed"></i>
                                    </div>
                                    <div class="title">
                                        <h5>Lorem ipsum dolor sit amet.</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                    </div>
                                </div>
                                <div class="date text-right">
                                    <strong>24</strong>
                                    <span>May</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Daily Feeds -->
                <div class="col-lg-4">
                    <div class="daily-feeds card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard7" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="h4">Daily Feeds</h3>
                        </div>
                        <div class="card-body no-padding">
                            <!-- Item-->
                            <div class="item">
                                <div class="feed d-flex justify-content-between">
                                    <div class="feed-body d-flex justify-content-between">
                                        <a href="#" class="feed-profile"><img src="img/avatar-5.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                        <div class="content">
                                            <h5>Aria Smith</h5>
                                            <span>Posted a new blog
                                            </span>
                                            <div class="full-date">
                                                <small>Today 5:60 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date text-right">
                                        <small>5min ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- Item-->
                            <div class="item">
                                <div class="feed d-flex justify-content-between">
                                    <div class="feed-body d-flex justify-content-between">
                                        <a href="#" class="feed-profile"><img src="img/avatar-2.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                        <div class="content">
                                            <h5>Frank Williams</h5>
                                            <span>Posted a new blog
                                            </span>
                                            <div class="full-date">
                                                <small>Today 5:60 pm - 12.06.2014</small>
                                            </div>
                                            <div class="CTAs">
                                                <a href="#" class="btn btn-xs btn-secondary">
                                                    <i class="fa fa-thumbs-up"></i>Like</a>
                                                <a href="#" class="btn btn-xs btn-secondary">
                                                    <i class="fa fa-heart"></i>Love
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date text-right">
                                        <small>5min ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- Item-->
                            <div class="item clearfix">
                                <div class="feed d-flex justify-content-between">
                                    <div class="feed-body d-flex justify-content-between">
                                        <a href="#" class="feed-profile"><img src="img/avatar-3.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                        <div class="content">
                                            <h5>Ashley Wood</h5>
                                            <span>Posted a new blog
                                            </span>
                                            <div class="full-date">
                                                <small>Today 5:60 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date text-right">
                                        <small>5min ago</small>
                                    </div>
                                </div>
                                <div class="quote has-shadow">
                                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years.</small>
                                </div>
                                <div class="CTAs pull-right">
                                    <a href="#" class="btn btn-xs btn-secondary">
                                        <i class="fa fa-thumbs-up"></i>Like</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent Activities -->
                <div class="col-lg-4">
                    <div class="recent-activities card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard8" class="dropdown-menu dropdown-menu-right has-shadow">
                                    <a href="#" class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Close</a>
                                    <a href="#" class="dropdown-item edit">
                                        <i class="fa fa-gear"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="h4">Recent Activities</h3>
                        </div>
                        <div class="card-body no-padding">
                            <div class="item">
                                <div class="row">
                                    <div class="col-4 date-holder text-right">
                                        <div class="icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <div class="date">
                                            <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                                    </div>
                                    <div class="col-8 content">
                                        <h5>Meeting</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-4 date-holder text-right">
                                        <div class="icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <div class="date">
                                            <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                                    </div>
                                    <div class="col-8 content">
                                        <h5>Meeting</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-4 date-holder text-right">
                                        <div class="icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <div class="date">
                                            <span>6:00 am</span><span class="text-info">6 hours ago</span></div>
                                    </div>
                                    <div class="col-8 content">
                                        <h5>Meeting</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
#}

    <div class="modal fade" id="addMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Monitor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="form-control-label">{% trans %}Type{% endtrans %}*</label>
                            <select name="type" class="monitorType form-control">
                                <option value="">{% trans %}Choose{% endtrans %}</option>
                                <option value="1" data-fields=".monitorInterval, .monitorName, .monitorTarget">Ping</option>
                                <option value="2" data-fields=".monitorInterval, .monitorName, .monitorTarget, .monitorPort">Port</option>
                                <option value="3" data-fields=".monitorName">Custom Insert</option>
                            </select>
                        </div>

                        <div class="form-group displayNone monitorName">
                            <label class="form-control-label">{% trans %}Name{% endtrans %}*</label>
                            <input type="text" name="name" class="form-control">
                        </div>

                        <div class="form-group displayNone monitorTarget">
                            <label class="form-control-label">{% trans %}IP (or Host){% endtrans %}*</label>
                            <input type="text" name="target" class="form-control">
                        </div>

                        <div class="form-group displayNone monitorPort">
                            <label class="form-control-label">{% trans %}Port{% endtrans %}*</label>
                            <input type="number" name="port" min="0" class="form-control">
                        </div>

                        <div class="form-group displayNone monitorInterval">
                            <label class="form-control-label">{% trans %}Interval{% endtrans %}*</label>
                            <input type="number" name="interval" min="0" class="form-control">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="addMonitor" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{modals|raw}}
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js"></script>
    <script src="https://code.highcharts.com/stock/4.2.2/highstock.js"></script>
    <script src="https://code.highcharts.com/4.2.2/modules/data.js"></script>
    <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
    <script src="https://code.highcharts.com/4.2.2/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/4.2.2/modules/solid-gauge.js"></script>
    <script>
    $('.monitorType').on('change', function() {
        $('.displayNone').hide();
        $($(this).find(":selected").attr('data-fields')).show();
    });


    localStorage.removeItem("lastLIVE");
    moment.tz.add([
        'Europe/Copenhagen|CET CEST|0 0|0101|1Lzm0 1zb0 Op0'
    ]);

    var names = JSON.parse('{{monitorArray|json_encode()|raw}}');

    var monitors = {{monitors|length}};
    var up = {{up|length}};
    var down = {{down|length}};
    var paused = {{paused|length}};


    $(document).on('keydown', function(){
        if(event.keyCode==70){
            console.log('KEY');
            $('#fullscreen').removeClass("col-lg-8");
            $('#fullscreen').addClass("col-lg-12 fullscreenMode");
        }
        if(event.keyCode==27){
            $('#fullscreen').attr("style", "");
            $('#fullscreen').removeClass("col-lg-12 fullscreenMode");
            $('#fullscreen').addClass("col-lg-8");
        }
    });
    </script>
    <script src="/js/charts-home.js"></script>
{% endblock %}
