<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% trans %}Register{% endtrans %} | MonitorWatch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
        <!-- Fontastic Custom icon font-->
        <link rel="stylesheet" href="css/fontastic.css">
        <!-- Google fonts - Poppins -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="css/style.green.css" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="css/custom.css">
        <!-- Favicon-->
        <link rel="shortcut icon" href="img/favicon.ico">
        <!-- Tweaks for older IEs-->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
    <body>
        <div class="page login-page">
            <div class="container d-flex align-items-center">
                <div class="form-holder has-shadow">
                    <div class="row">
                        <!-- Logo & Information Panel-->
                        <div class="col-lg-6">
                            <div class="info d-flex align-items-center">
                                <div class="content">
                                    <div class="logo">
                                        <h1>MonitorWatch</h1>
                                    </div>
                                    <p>Login to get started!</p>
                                    <p>This is the place where you can watch all your services.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Form Panel -->
                        <div class="col-lg-6 bg-white">
                            <div class="form d-flex align-items-center">
                                <div class="content">
                                    <form id="register-form">
                                        <div class="form-group">
                                            <input id="register-username" type="text" name="registerUsername" required="required" class="input-material">
                                            <label for="register-username" class="label-material">User Name</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="register-email" type="email" name="registerEmail" required="required" class="input-material">
                                            <label for="register-email" class="label-material">Email Address
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <input id="register-passowrd" type="password" name="registerPassword" required="required" class="input-material">
                                            <label for="register-passowrd" class="label-material">password
                                            </label>
                                        </div>
                                        <div class="form-group terms-conditions">
                                            <input id="license" type="checkbox" class="checkbox-template">
                                            <label for="license">Agree the terms and policy</label>
                                        </div>
                                        <input id="register" type="submit" value="Register" class="btn btn-primary">
                                    </form>
                                    <small>Already have an account?
                                    </small>
                                    <a href="/login" class="signup">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights text-center">
                <p>MonitorWatch &copy; 2018</p>
            </div>
        </div>
        <!-- Javascript files-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="vendor/popper.js/umd/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/jquery.cookie/jquery.cookie.js"></script>
        <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
        <!-- Main File-->
        <script src="js/front.js"></script>
    </body>
</html>
