{% extends "base.twig" %}

{% block title %}{% trans %}Edit Profile{% endtrans %}
{% endblock %}

{% block body %}
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">{% trans %}Edit Profile{% endtrans %}</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">{% trans %}Home{% endtrans %}</a>
            </li>
            <li class="breadcrumb-item">{% trans %}Profile{% endtrans %}</li>
            <li class="breadcrumb-item active">{% trans %}Edit{% endtrans %}</li>
        </ul>
    </div>
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">{% trans %}Information{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label class="form-control-label">{% trans %}Name{% endtrans %}</label>
                                    <input type="text" name="name" value="{{user.name}}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">{% trans %}Email{% endtrans %}</label>
                                    <input type="email" name="email" value="{{user.email}}" class="form-control">
                                </div>

                                <input type="submit" name="info" class="btn btn-success btn-sm" value="{% trans %}Update{% endtrans %}">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">{% trans %}Password{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label class="form-control-label">{% trans %}Old Password{% endtrans %}</label>
                                    <input type="password" name="old" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">{% trans %}New Password{% endtrans %}</label>
                                    <input type="password" name="new" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">{% trans %}Confirm Password{% endtrans %}</label>
                                    <input type="password" name="confirm" class="form-control">
                                </div>

                                <input type="submit" name="password" class="btn btn-success btn-sm" value="{% trans %}Update{% endtrans %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}{% endblock %}
